body {
    overflow-x: hidden;
    overflow-y: overlay;
background: #000000;
	background-image: linear-gradient( 135deg, #000000 10%, #000000 100%);
	background-attachment: fixed;	
	background-size: cover;
	}


#container{
	box-shadow: 0 15px 30px 1px rgba(77, 77, 77, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 550px;
	width: 650px;
	
}



.container-mobile{
	visibility: hidden
}

/* 	Product details  */
.product-details {
    font-family: 'poppins';
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

/* 	Product Name */
#container .product-details h1{
	font-family: 'poppins';
    text-align: center;
	display: inline-block;
	position: relative;
	font-size: 24px;
	color: #344055;
	margin: 0;
	
}

.importante{
	margin-top: 56px;
	font-family: poppins;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
    color: red;
	
}




@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
	
}

/*Product Rating  */
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


/* The most important information about the product */
#container .product-details > p {
	font-family: 'poppins';
	text-align: center;
	font-size: 14px;
	color: #7d7d7d;
	
}

.information {
    position: relative;
    font-family: 'poppins';
}
/* control */

.control{
	bottom: 15.5%;
	left: 25%;
	
}
/* the Button */
.btn {

	background: #009ee3;
	border-radius: 9px;
  position: absolute;
  right: 75px;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}


.btn span {
	font-family: 'poppins', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 15px;
	font-size: 1.0em;
	margin:0;
	
	
}



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%; }

.info {
   
    background: rgba(27, 26, 26, 0.9);
    font-family: 'poppins';
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 90%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0px;
}


.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(10px) scale(1.1);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/*  Resolucion Telefono */ 
@media (max-width: 767px){

	#container{
		display: none;
	}
	.container-mobile{
		visibility: visible;
	}


    body{
        background-color: black;
        font-family: poppins;
    }

    .informacion{
	margin: 0px;
    font-size: 12px;
    color: #fff;
	text-align: center;
	overflow: hidden;
	height: auto;
	width: 100%;
    }

    .extra{
    box-shadow: 0 15px 30px 1px rgba(3, 3, 3, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px 5px 5px 5px;
	height: 810px;
	width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: rgb(122, 121, 121);
	position: relative;

    }
    
    
    /* control */

.control{
	bottom: 15.5%;
	left: 25%;
	
}
/* the Button */
.btn {


	background: #009ee3;
	border-radius: 9px;
  position: relative;
  left: 0px;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.importante{
	margin-top: 56px;
	font-family: poppins;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
    color: red;
	
}

.btn span {
	font-family: 'poppins',;

	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 15px;
	font-size: 1.em;
	margin:0;
	
}

/* shopping cart icon */
.btn .price, .shopping-cart{
    font-size: ;
    background: #333;
    border: 0;
    margin: 0;
}

    .informacion-2{
    background-image: url();
    box-shadow: 0 15px 30px 1px rgba(77, 77, 77, 0.31);
	background: rgba(255, 255, 255, 0.90);
	border-radius: 1px 1px 0px 0px;
	overflow: hidden;
	margin: 5em auto;
	height: 550px;
	width: 100%;
    }

    .fecha h1{
        color: rgb(57, 65, 83);
        margin: 0px;
		padding-top: 10px;
    }

    .informacion-2 ul{
        list-style:none;
        padding: 10px;
    }

    .informacion-2 h2{
        text-align: center;
    }



    /* product image  */
    .product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 380px;
    object-fit: contain;
	width: 100%;
	display: inline-block;;
}

.container-informacion img {width: 100%;height: 100%; border-radius: 0px 0px 5px 5px; }

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'poppins';
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 90%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0px;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(10px) scale(1.1);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}



.item-lista{
    font-size: 13px;
}

.importante-mobile {
	margin-top: 7px;
	font-size: 18px ;
	color: red;
}
}
  
