body {
    overflow-x: hidden;
    overflow-y: overlay;
    font-family: 'Poppins', sans-serif;
    background-color: black;

}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: #414141;
    border: 0 #fff;
    border-radius: 100px;

}

::-webkit-scrollbar-thumb:hover {
    background: #757575;
}

::-webkit-scrollbar-thumb:active {
    background: #757575;
}

::-webkit-scrollbar-track {
    background: #18181b;
    border: 0 #18181b;
    border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
    background: #18181b;
}

::-webkit-scrollbar-track:active {
    background: #18181b;

}

::-webkit-scrollbar-corner {
    background: 0 0;
}



li:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}



.OLVIDONA{
    font-size: 30px;
    font-weight: 700;

}
.headerOnStart {
    padding: 0px 0px;
    font-size: 1.25rem;
    position: absolute;
    width: 100%;
    z-index: 999999999;
    display: flex;
    color: white;
    justify-content: center;

}

.headerOpacity {
    -webkit-animation: opacity2 1.2s ease-in-out both;
    animation: opacity2 1.2s ease-in-out both;
}

.logo{
    height: 200px;
    width: 200px;
}



@-webkit-keyframes slide-in-bottom-header {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);

    }


    100% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);

    }
}

@keyframes slide-in-bottom-header {
    0% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);

    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes opa-vid {
    0% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(0.7);
    }
}

@keyframes opa-vid {
    0% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(0.7);
    }
}

@-webkit-keyframes opa {
    0% {

        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

@keyframes opa {
    0% {

        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

@-webkit-keyframes teacuerdasdemi {
    0% {

        opacity: 0;

    }

    35% {
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;

    }
}

@keyframes teacuerdasdemi {
    0% {
        transform: translateY(100%);
        opacity: 0;

    }

    35% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;

    }
}

@-webkit-keyframes teacuerdasdemi2 {
    0% {
        transform: translateY(100%);
        opacity: 0;

    }

    35% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;

    }
}

@keyframes teacuerdasdemi2 {
    0% {
        transform: translateY(100%);
        opacity: 0;

    }

    35% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;

    }
}


@-webkit-keyframes cuantotiempo {
    0% {

        letter-spacing: 10px;
        opacity: 0;
    }

    35% {
        opacity: 0;
    }


    100% {
        letter-spacing: 0px;
        opacity: 1;
    }
}

@keyframes cuantotiempo {
    0% {

        letter-spacing: 10px;
        opacity: 0;
    }

    35% {
        opacity: 0;
    }


    100% {
        letter-spacing: 0px;
        opacity: 1;
    }
}

@media (max-width: 1500px) {
    .heyy-olvidonaBack {
        font-size: 150px;
    }

}

@media (max-width: 991px) {

    .heyy-olvidonaBack {
        font-size: 150px;
    }

    .headerOnStart {
        display: none;

    }

}

@media (max-width: 576px) {
    .rickrolled {
        display: none;
    }

    .modal {
        z-index: 99999;
        background-color: rgb(32, 32, 32);
        border-radius: 1rem;
        position: relative;
        display: flex;
        margin: auto;
        width: 95%;
        height: 40vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .close {
        left: 87%;
        height: 30px;
        padding: 8px;
        width: 30px;

    }

    .rickrolled h3 {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        color: white;
    }

    .rickrolled h4 {
        font-size: 1.1rem;
        padding: 1rem 0rem;
        width: 100%;
        text-align: center;
        color: rgb(212, 212, 212);
    }

    .metiensabandonado {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 2rem;
        font-weight: 100;
        text-align: center;
        color: white;

    }





    .heyy-olvidonaBack {
        display: none;
    }

    .heyy-olvidona {
        font-size: 60px;
        top: 43%;

    }


    .cuantotiempotxt {
        font-size: 1rem;
        color: #d2d2d2;
    }

    .cuantotiempo {
        top: 40%;
        font-size: 1.25rem;

    }

    .vid2 {
        margin-top: -6rem;
        width: 90%;
    }

    .icon {
        width: 100px;
        height: 100px;
        top: 75%;
    }

    .button {

        font-size: 1.25rem;

    }

    .ubicacion{
       padding-top: 300px;
    }


}